<!-- Main Page Header -->

<header class="main-page-header">
    <div class="container d-flex align-items-center">
        <!-- Company Name -->
        <a routerLink="/">
            <div class="company-name" style="font-size: 20px;">
                Banking
            </div>
        </a>
        <!-- End Company Name -->
        <nav class="navigation ms-auto">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a href="">Payment History</a></li>
            <li><a href="">Transaction History</a></li>
        </nav>

        <!-- Display Name -->
        <div class="display-name ms-auto text-white">
            <i class="fa fa-circle text-success me-2"></i> Welcome: <span>Chaman Sarkar </span>
        </div>
        <!-- End of Display Name -->
        <!-- <h3 class="text-dark ms-2"> | </h3> -->
        <!-- Logout Button -->
        <a routerLink="/" class="btn btn-sm text-white ms-2">
            <i class="fa fa-sign-out-alt" ></i> Sign Out
        </a>
        <!-- End of Logout Button -->

    </div>
</header>