/* Main Body Styling */
.container{
    margin: 10px auto;
}

.container a{
    text-decoration: none;
}

/* Main Page Header */
.main-page-header{
    padding: 10px 0px;
    background-color: #341f97;

}
.main-page-header .company-name{
    font-weight: 600;
    color:white;
}
/* Navigation */
.navigation{
    
    margin-left: 20px;
}
.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 15px;
}
.navigation li a{
    color: white;
    text-decoration: none;
}

/* Display Name */
.display-name{
    /* box-shadow: 0px 3px 6px rgb(0,14,53); */
    font-weight: 600;

}
/* End of Display Name */
/* End of page Header */
