<div class="d-flex align-items-center">
    <div id="sample-text-card" class="card col-6">
        <div class="card-body">
            <!-- Card header -->
            <h1 class="mb-3">Easy to Open an Account</h1>
            <!-- End Card Header -->

            <!-- Card Title -->
            <h5>Flexible Banking System</h5>
            <!-- End Card Title -->

            <!-- Cart Text -->
            <p>
                Internet banking portal provides personal banking services that gives you complete control over all your banking demands online.

            </p>
            <!-- End Card Text -->

            <!-- Button Wrapper -->
            <div class="button-wrapper d-flex align-items-center">
                <a routerLink="/signup" class="btn btn-md register-btn" role="button">Register</a>
                <a routerLink="/login" class="btn btn-md login-btn" role="button">Login</a>
            </div>
            <!-- End Button Wrapper -->
        </div>
    </div>
  </div>