<div class="d-flex align-items-center justify-content-center main-container">
    <!-- Card: Register -->
    <div class="card registration-form-card col-6">
        <div class="card-body">
            <!-- Form Header -->
                <h1 class="form-header card-title mb-3">
                    <i class="fa fa-edit"></i>Register
                </h1>
            <!-- End Form Header -->
            <!-- Registration Form -->
                <form action="" class="reg-form">

                    <div class="row">
                        <div class="form-group col">
                          <input type="text" class="form-control form-control-lg" placeholder="Enter First Name" name="first_name">
                        </div>
                        <div class="form-group col">
                          <input type="text" class="form-control form-control-lg" placeholder="Enter Last Name" name="last_name">
                        </div>
                    </div>

                    <div class="form-group col">
                        <input type="text" class="form-control form-control-lg" placeholder="Enter Email" name="email">
                    </div>

                    <div class="row">
                        <div class="form-group col">
                          <input type="password" class="form-control form-control-lg" placeholder="Password" name="password">
                        </div>
                        <div class="form-group col">
                          <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" name="confirm_password">
                        </div>
                    </div>

                    <div class="form-group col">
                        <button class="btn btn-lg">Register</button>
                    </div>

                </form>
            <!-- End Registration Form -->
            <!-- Card Text -->
            <p class="card-text text-black-50 my-2">
                Already have an account<span class="ms-2"><a href="login.html" class="btn btn-sm textwarning"> Sign In</a></span>
            </p>
            <!-- End Card Text -->

            <!-- Back Button -->
            <small class="textwarning">
                <i class="fa fa-arrow-alt-circle-left"></i><a href="index.html" class="btn btn-sm textwarning">Back</a>
            </small>
            <!-- End Back Button -->
        </div>
    </div>
</div>