<div class="d-flex align-items-center justify-content-center main-container">
    <!-- Card: login -->
    <div class="card login-form-card col-4">
        <div class="card-body">
            <!-- Form Header -->
                <h1 class="form-header card-title mb-3">
                    <i class="fa fa-user-circle"></i> Login
                </h1>
            <!-- End Form Header -->
            <!-- login Form -->
                <form (ngSubmit)="onSubmit()" class="reg-form">

                    <div class="form-group col">
                        <input type="text" class="form-control form-control-lg" placeholder="Enter Username" name="username"
                        [(ngModel)]="credentials.username" required
                        >
                    </div>

                    <div class="form-group col">
                        <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"
                        [(ngModel)]="credentials.password" required
                        >
                    </div>
                    
                    <div class="form-group col">
                        <button class="btn btn-lg">Login</button>
                    </div>

                </form>
            <!-- End login Form -->
            <!-- {{credentials | json }} -->
            <!-- Card Text -->
            <p class="card-text text-black-50 my-2">
                Dont have an account<span class="ms-2"><a routerLink="/signup" class="btn btn-sm textwarning"> Sign Up</a></span>
            </p>
            <!-- End Card Text -->

            <!-- Back Button -->
            <small class="textwarning">
                <i class="fa fa-arrow-alt-circle-left"></i><a routerLink="/" class="btn btn-sm textwarning">Back</a>
            </small>
            <!-- End Back Button -->
        </div>
    </div>
</div>